:root{
    --bgColorNighMode: #424242x ;
    --fontColorNightMode: #35df90;
}

*{
    box-sizing: border-box;
    border-radius: 1rem;
    
}
body{
    margin:0;
    
}
#root{
    height: 100vh;
    width: 100vw; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;
}
.calculator-container{
    height: 80%;
    width: 25%;
    border: 1px solid;
    border-radius: 1rem;
}
button{
    height: 4rem;
    width: 4rem;
    min-height: 4rem;
    min-width: 4rem;
    outline: none;
    /* border: none;    */
    font-weight: bold;
    background-color: var(--bgColorNighMode);
    font-size: 2.5rem;
    border-radius: 1rem;
    color: var(--fontColorNightMode);
    
}
.header{
    height: 20%;
    width: 100%;
}
.view,.output{
    height: 50%;
    width: 100%; 
    text-align: end;
    font-size: 4rem;
    color: white;
    overflow:hidden;
}

.keypad-container{
    height: 80%;
    width: 100%;    
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    border: 1px solid white;
    background-color: var(--bgColorNighMode);
}
.keypad-row{
display: flex;
flex-direction: column;
width: 80%;
}
.keypad-column{
display: flex;
flex-direction: row;
height: 100%;
width: 20%;
justify-content: space-around;
}
.operand-container{
height: 80%;
width: 100%;
display: flex;
flex-direction: column;     
align-items: center;
justify-content: space-around;
border: 1px solid white;
}
.operand-container button{
    color:#fff;
}
#row-1,#row-2,#row-3{
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.operator-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    border: 1px solid white ;
    height: 100%;
    width: 100%;
}
.horizontal-operators{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 20%;
}
.zeros{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.operator:hover{
   box-shadow: 0 5px 10px rgba(41, 241, 195, 1);
    background-color: #d8faea;
}
.operand-container button:hover{
    background-color: rgba(255, 255, 255, 0.08);
}
#reset{
    font-weight: bold;
    color:#d7300f;
    border: 2px outse ;
}
#reset:hover{
    box-shadow: 0 5px 15px #f09b8a;
    background-color: #e6bbb3 ;
}
#reset:active{
    border: 2px inset rgb(118, 118, 118);
}

