*{
    box-sizing: border-box;
    
}
body{
    margin:0;
    
}
#root{
    height: 100vh;
    width: 100vw; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator-container{
    height: 80%;
    width: 30%;
    border: 1px solid;
    border-radius: 1rem;
}
.header{
    height: 20%;
    width: 100%;
}
.view,.output{
    height: 50%;
    width: 100%; 
    text-align: end;
}

.keypad-container{
    height: 80%;
    width: 100%;    
    display: flex;
    flex-direction: row;
    border-radius: 1rem;
    /* background-color: black; */
}
.keypad-row{
display: flex;
flex-direction: column;
width: 80%;
}
.keypad-column{
display: flex;
flex-direction: row;
width: 20%;
justify-content: space-around;
}
.operand-container{
height: 85%;
width: 100%;
display: flex;
flex-direction: column;     
align-items: center;
justify-content: space-evenly;
}
#row-1,#row-2,#row-3{
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.operator-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
}
.horizontal-operators{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 15%;
}
button{
    height: 4rem;
    width: 4rem;
    min-height: 4rem;
    min-width: 4rem;
    outline: none;
    border: none;
    font-weight: bold;
    background-color: white;
    /* text-align: center; */
    font-size: 2.5rem;
}
.operator:hover{
    background-color: rgb(78, 224, 205);
}
.operand-container button:hover{
    background-color: rgb(206, 206, 206);
}
#reset{
    font-weight: bold;
}
#reset:hover{
    background-color: rgb(228, 120, 19);
}

